
Texto Imagem
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header {
    width: 100vw;
    height:100vh ;
    background-image: url(img/James\ Cameron\'s.png);
     background-position: bottom;
    background-size:cover ;
    display:flex ;
    align-items:flex-end ;
    justify-content:center ;

}

